header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  padding: 0.4rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

@media screen and (min-width: 1000px) {
  header .logo {
    width: 5.5rem;
    padding: 0.4rem 2rem;
  }
}
